<div class="form-container">
<h1> Sign up </h1>

<%= form_for @user, html: {class: 'form-basic'} do |f| %>
    <div class='form-input'>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class='form-input'>
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>

    <div class='form-input'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class='form-input'>
      <%= f.label :bio %>
      <%= f.text_field :bio %>
    </div>
    
    <div class='form-input'>
      <%= f.label :img_url %>
      <%= f.text_field :img_url %>
    </div>

    <%= f.submit %>
  <% end %>
  </div>