<h1> User Show Page </h1>


<%= link_to "Create a New Invite", new_invite_path %>
<%= link_to "Create a New Event", new_event_path %>

<h3><%= @user.name %></h3>
Bio: <hl><%= @user.bio %></hl>

<marquee 	scrolldelay=60 direction="right">
  <img src="<%= @user.img_url %>" alt="<%= @user.name %>">
</marquee>

<div class="followers-list">
    <h3> Followers </h3>
    <% @user.followers.each do |user| %>
        <p><%= link_to user.name, user %> </p>
    <% end %>
</div>

<div class="following-list">
    <h3> Following </h3>
    <% @user.followees.each do |user| %>
        <p><%= link_to user.name, user %> </p>
    <% end %>
</div>

<hr>

<h3> Hosted Events </h3>
<% @user.hosted_events.each do |event| %>
     <li> <%= link_to event.name, event_path(event) %> </li>
<% end %>

<h3> Attending Events </h3>
<% @user.invites.each do |invite| %>
     <li> <%= invite.title %> </li>
     <li> <%= invite.event.name %> </li>
     <hr>
<% end %>

</hr>
