<div class="user-info">
<div class='profile_header'>
        <h1 class="header"> My Profile Page </h1>
    </div>

<div class='new_invite'>
    <h3 class="header"><%= link_to "Create a New Invite", new_invite_path %></h3>
</div>
<div class='new_event'>
    <h3 class="header"><%= link_to "Create a New Event", new_event_path %></h3>
</div>

<h3> <%= @user.name %></h3>
<h3> My Wonderful Bio: </h3> <hl><%= @user.bio %></hl>

<marquee 	scrolldelay=60 direction="right">
  <img src="<%= @user.img_url %>" alt="<%= @user.name %>">
</marquee>

<div class="followers-list">
    <h3> Followers </h3>
    <% @user.followers.each do |user| %>
        <p><%= link_to user.name, user %> </p>
    <% end %>
    <hr>
</div>

<div class="following-list">
    <h3> Following </h3>
    <% @user.followees.each do |user| %>
        <p><%= link_to user.name, user %> </p>
    <% end %>
</div>

<hr>

<div class="hosted_event"> 
<h3> Hosted Events </h3>
<% @user.hosted_events.each do |event| %>
     <p> <%= link_to event.name, event_path(event) %> </p>
<% end %>
<hr>
</div>

<div class="attending_events"> 
<h3> Attending Events </h3>
<% @user.invites.each do |invite| %>
     <p> Invite: <%= link_to invite.title, invite_path(invite) %> </p>
     <p> Event Name: <%= invite.event.name %> </p>
     <%= button_to "Delete Invite", invite_path(invite), method: :delete %>
     <hr>
<% end %>
</div>

 </hr>
 </div>